<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.devsys.mapper.DevAlterationMapper">

    <resultMap type="DevAlteration" id="DevAlterationResult">
        <result property="alterationId"    column="alteration_id"    />
        <result property="equipId"    column="equip_id"    />
        <result property="equipName"    column="equip_name"    />
        <result property="reason"    column="reason"    />
        <result property="effect"    column="effect"    />
        <result property="leader"    column="leader"    />
        <result property="evaluate"    column="evaluate"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDevAlterationVo">
        select alteration_id, equip_id, equip_name, reason, effect, leader, evaluate, remark, create_by, create_time, update_by, update_time from dev_alteration
    </sql>

    <select id="selectDevAlterationList" parameterType="DevAlteration" resultMap="DevAlterationResult">
        <include refid="selectDevAlterationVo"/>
        <where>
            <if test="equipId != null "> and equip_id = #{equipId}</if>
            <if test="equipName != null  and equipName != ''"> and equip_name like concat('%', #{equipName}, '%')</if>
            <if test="reason != null  and reason != ''"> and reason like concat('%', #{reason}, '%')</if>
            <if test="leader != null  and leader != ''"> and leader like concat('%', #{leader}, '%')</if>
        </where>
    </select>

    <select id="selectDevAlterationById" parameterType="Long" resultMap="DevAlterationResult">
        <include refid="selectDevAlterationVo"/>
        where alteration_id = #{alterationId}
    </select>
    <select id="selectByName" resultType="com.ruoyi.project.devsys.domain.DevAlteration">
        select * from dev_alteration
        where equip_name=#{equipName}
    </select>

    <insert id="insertDevAlteration" parameterType="DevAlteration" useGeneratedKeys="true" keyProperty="alterationId">
        insert into dev_alteration
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipId != null ">equip_id,</if>
            <if test="equipName != null  and equipName != ''">equip_name,</if>
            <if test="reason != null  and reason != ''">reason,</if>
            <if test="effect != null  and effect != ''">effect,</if>
            <if test="leader != null  and leader != ''">leader,</if>
            <if test="evaluate != null  and evaluate != ''">evaluate,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipId != null ">#{equipId},</if>
            <if test="equipName != null  and equipName != ''">#{equipName},</if>
            <if test="reason != null  and reason != ''">#{reason},</if>
            <if test="effect != null  and effect != ''">#{effect},</if>
            <if test="leader != null  and leader != ''">#{leader},</if>
            <if test="evaluate != null  and evaluate != ''">#{evaluate},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDevAlteration" parameterType="DevAlteration">
        update dev_alteration
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipId != null ">equip_id = #{equipId},</if>
            <if test="equipName != null  and equipName != ''">equip_name = #{equipName},</if>
            <if test="reason != null  and reason != ''">reason = #{reason},</if>
            <if test="effect != null  and effect != ''">effect = #{effect},</if>
            <if test="leader != null  and leader != ''">leader = #{leader},</if>
            <if test="evaluate != null  and evaluate != ''">evaluate = #{evaluate},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where alteration_id = #{alterationId}
    </update>

    <delete id="deleteDevAlterationById" parameterType="Long">
        delete from dev_alteration where alteration_id = #{alterationId}
    </delete>

    <delete id="deleteDevAlterationByIds" parameterType="String">
        delete from dev_alteration where alteration_id in
        <foreach item="alterationId" collection="array" open="(" separator="," close=")">
            #{alterationId}
        </foreach>
    </delete>

</mapper>
