<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.devsys.mapper.DevRepairMapper">
    
    <resultMap type="DevRepair" id="DevRepairResult">
        <result property="repairId"    column="repair_id"    />
        <result property="equipId"    column="equip_id"    />
        <result property="startTime"    column="start_time"    />
        <result property="finishTime"    column="finish_time"    />
        <result property="repairLevel"    column="repair_level"    />
        <result property="repairContent"    column="repair_content"    />
        <result property="handleProblem"    column="handle_problem"    />
        <result property="remainProblem"    column="remain_problem"    />
        <result property="clazz"    column="clazz"    />
        <result property="repairUnit"    column="repair_unit"    />
        <result property="leader"    column="leader"    />
        <result property="linkman"    column="linkman"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDevRepairVo">
        select repair_id, equip_id, start_time, finish_time, repair_level, repair_content, handle_problem, remain_problem, clazz, repair_unit, leader, linkman, remark, create_by, create_time, update_by, update_time from dev_repair
    </sql>

    <select id="selectDevRepairList" parameterType="DevRepair" resultMap="DevRepairResult">
        <include refid="selectDevRepairVo"/>
        <where>  
            <if test="equipId != null "> and equip_id = #{equipId}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="finishTime != null "> and finish_time = #{finishTime}</if>
            <if test="repairLevel != null  and repairLevel != ''"> and repair_level = #{repairLevel}</if>
            <if test="repairContent != null  and repairContent != ''"> and repair_content = #{repairContent}</if>
            <if test="handleProblem != null  and handleProblem != ''"> and handle_problem = #{handleProblem}</if>
            <if test="remainProblem != null  and remainProblem != ''"> and remain_problem = #{remainProblem}</if>
            <if test="clazz != null  and clazz != ''"> and clazz = #{clazz}</if>
            <if test="repairUnit != null  and repairUnit != ''"> and repair_unit = #{repairUnit}</if>
            <if test="leader != null  and leader != ''"> and leader = #{leader}</if>
            <if test="linkman != null  and linkman != ''"> and linkman = #{linkman}</if>
        </where>
    </select>
    
    <select id="selectDevRepairById" parameterType="Long" resultMap="DevRepairResult">
        <include refid="selectDevRepairVo"/>
        where repair_id = #{repairId}
    </select>
        
    <insert id="insertDevRepair" parameterType="DevRepair" useGeneratedKeys="true" keyProperty="repairId">
        insert into dev_repair
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipId != null ">equip_id,</if>
            <if test="startTime != null ">start_time,</if>
            <if test="finishTime != null ">finish_time,</if>
            <if test="repairLevel != null  and repairLevel != ''">repair_level,</if>
            <if test="repairContent != null  and repairContent != ''">repair_content,</if>
            <if test="handleProblem != null  and handleProblem != ''">handle_problem,</if>
            <if test="remainProblem != null  and remainProblem != ''">remain_problem,</if>
            <if test="clazz != null  and clazz != ''">clazz,</if>
            <if test="repairUnit != null  and repairUnit != ''">repair_unit,</if>
            <if test="leader != null  and leader != ''">leader,</if>
            <if test="linkman != null  and linkman != ''">linkman,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipId != null ">#{equipId},</if>
            <if test="startTime != null ">#{startTime},</if>
            <if test="finishTime != null ">#{finishTime},</if>
            <if test="repairLevel != null  and repairLevel != ''">#{repairLevel},</if>
            <if test="repairContent != null  and repairContent != ''">#{repairContent},</if>
            <if test="handleProblem != null  and handleProblem != ''">#{handleProblem},</if>
            <if test="remainProblem != null  and remainProblem != ''">#{remainProblem},</if>
            <if test="clazz != null  and clazz != ''">#{clazz},</if>
            <if test="repairUnit != null  and repairUnit != ''">#{repairUnit},</if>
            <if test="leader != null  and leader != ''">#{leader},</if>
            <if test="linkman != null  and linkman != ''">#{linkman},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDevRepair" parameterType="DevRepair">
        update dev_repair
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipId != null ">equip_id = #{equipId},</if>
            <if test="startTime != null ">start_time = #{startTime},</if>
            <if test="finishTime != null ">finish_time = #{finishTime},</if>
            <if test="repairLevel != null  and repairLevel != ''">repair_level = #{repairLevel},</if>
            <if test="repairContent != null  and repairContent != ''">repair_content = #{repairContent},</if>
            <if test="handleProblem != null  and handleProblem != ''">handle_problem = #{handleProblem},</if>
            <if test="remainProblem != null  and remainProblem != ''">remain_problem = #{remainProblem},</if>
            <if test="clazz != null  and clazz != ''">clazz = #{clazz},</if>
            <if test="repairUnit != null  and repairUnit != ''">repair_unit = #{repairUnit},</if>
            <if test="leader != null  and leader != ''">leader = #{leader},</if>
            <if test="linkman != null  and linkman != ''">linkman = #{linkman},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where repair_id = #{repairId}
    </update>

    <delete id="deleteDevRepairById" parameterType="Long">
        delete from dev_repair where repair_id = #{repairId}
    </delete>

    <delete id="deleteDevRepairByIds" parameterType="String">
        delete from dev_repair where repair_id in 
        <foreach item="repairId" collection="array" open="(" separator="," close=")">
            #{repairId}
        </foreach>
    </delete>
    
</mapper>