<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.devsys.mapper.DevReformMapper">
    
    <resultMap type="DevReform" id="DevReformResult">
        <result property="reformId"    column="reform_id"    />
        <result property="reformName"    column="reform_name"    />
        <result property="equipId"    column="equip_id"    />
        <result property="major"    column="major"    />
        <result property="completeStatus"    column="complete_status"    />
        <result property="workUnit"    column="work_unit"    />
        <result property="finishTime"    column="finish_time"    />
        <result property="isCheck"    column="is_check"    />
        <result property="checker"    column="checker"    />
        <result property="fname"    column="fname"    />
        <result property="fpath"    column="fpath"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDevReformVo">
        select reform_id, reform_name, equip_id, major, complete_status, work_unit, finish_time, is_check, checker, fname, fpath, remark, create_by, create_time, update_by, update_time from dev_reform
    </sql>

    <select id="selectDevReformList" parameterType="DevReform" resultMap="DevReformResult">
        <include refid="selectDevReformVo"/>
        <where>  
            <if test="reformName != null  and reformName != ''"> and reform_name like concat('%', #{reformName}, '%')</if>
            <if test="equipId != null and equipId != ''"> and equip_id = #{equipId}</if>
            <if test="major != null  and major != ''"> and major like concat('%', #{major}, '%')</if>
            <if test="completeStatus != null  and completeStatus != ''"> and complete_status = #{completeStatus}</if>
            <if test="workUnit != null  and workUnit != ''"> and work_unit like concat('%', #{workUnit}, '%')</if>
        </where>
    </select>
    
    <select id="selectDevReformById" parameterType="Long" resultMap="DevReformResult">
        <include refid="selectDevReformVo"/>
        where reform_id = #{reformId}
    </select>
        
    <insert id="insertDevReform" parameterType="DevReform" useGeneratedKeys="true" keyProperty="reformId">
        insert into dev_reform
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reformName != null  and reformName != ''">reform_name,</if>
            <if test="equipId != null and equipId != ''">equip_id,</if>
            <if test="major != null  and major != ''">major,</if>
            <if test="completeStatus != null  and completeStatus != ''">complete_status,</if>
            <if test="workUnit != null  and workUnit != ''">work_unit,</if>
            <if test="finishTime != null ">finish_time,</if>
            <if test="isCheck != null  and isCheck != ''">is_check,</if>
            <if test="checker != null  and checker != ''">checker,</if>
            <if test="fname != null  and fname != ''">fname,</if>
            <if test="fpath != null  and fpath != ''">fpath,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reformName != null  and reformName != ''">#{reformName},</if>
            <if test="equipId != null ">#{equipId},</if>
            <if test="major != null  and major != ''">#{major},</if>
            <if test="completeStatus != null  and completeStatus != ''">#{completeStatus},</if>
            <if test="workUnit != null  and workUnit != ''">#{workUnit},</if>
            <if test="finishTime != null ">#{finishTime},</if>
            <if test="isCheck != null  and isCheck != ''">#{isCheck},</if>
            <if test="checker != null  and checker != ''">#{checker},</if>
            <if test="fname != null  and fname != ''">#{fname},</if>
            <if test="fpath != null  and fpath != ''">#{fpath},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateDevReform" parameterType="DevReform">
        update dev_reform
        <trim prefix="SET" suffixOverrides=",">
            <if test="reformName != null  and reformName != ''">reform_name = #{reformName},</if>
            <if test="equipId != null and equipId != ''">equip_id = #{equipId},</if>
            <if test="major != null">major = #{major},</if>
            <if test="completeStatus != null  and completeStatus != ''">complete_status = #{completeStatus},</if>
            <if test="workUnit != null">work_unit = #{workUnit},</if>
            <if test="finishTime != null ">finish_time = #{finishTime},</if>
            <if test="isCheck != null  and isCheck != ''">is_check = #{isCheck},</if>
            <if test="checker != null">checker = #{checker},</if>
            <if test="fname != null">fname = #{fname},</if>
            <if test="fpath != null">fpath = #{fpath},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where reform_id = #{reformId}
    </update>

    <delete id="deleteDevReformById" parameterType="Long">
        delete from dev_reform where reform_id = #{reformId}
    </delete>

    <delete id="deleteDevReformByIds" parameterType="String">
        delete from dev_reform where reform_id in 
        <foreach item="reformId" collection="array" open="(" separator="," close=")">
            #{reformId}
        </foreach>
    </delete>
    
</mapper>