<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.devsys.mapper.DevSpareMapper">
    
    <resultMap type="DevSpare" id="DevSpareResult">
        <result property="spareId"    column="spare_id"    />
        <result property="equipId"    column="equip_id"    />
        <result property="spareName"    column="spare_name"    />
        <result property="specification"    column="specification"    />
        <result property="techParam"    column="tech_param"    />
        <result property="num"    column="num"    />
        <result property="pictureNum"    column="picture_num"    />
        <result property="productor"    column="productor"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDevSpareVo">
        select spare_id, equip_id, spare_name, specification, tech_param, num, picture_num, productor, remark, create_by, create_time, update_by, update_time from dev_spare
    </sql>

    <select id="selectDevSpareList" parameterType="DevSpare" resultMap="DevSpareResult">
        <include refid="selectDevSpareVo"/>
        <where>  
            <if test="equipId != null "> and equip_id = #{equipId}</if>
            <if test="spareName != null  and spareName != ''"> and spare_name like concat('%', #{spareName}, '%')</if>
            <if test="productor != null  and productor != ''"> and productor like concat('%', #{productor}, '%')</if>
        </where>
    </select>
    
    <select id="selectDevSpareById" parameterType="Long" resultMap="DevSpareResult">
        <include refid="selectDevSpareVo"/>
        where spare_id = #{spareId}
    </select>
        
    <insert id="insertDevSpare" parameterType="DevSpare" useGeneratedKeys="true" keyProperty="spareId">
        insert into dev_spare
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipId != null ">equip_id,</if>
            <if test="spareName != null  and spareName != ''">spare_name,</if>
            <if test="specification != null  and specification != ''">specification,</if>
            <if test="techParam != null  and techParam != ''">tech_param,</if>
            <if test="num != null  and num != ''">num,</if>
            <if test="pictureNum != null  and pictureNum != ''">picture_num,</if>
            <if test="productor != null  and productor != ''">productor,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipId != null ">#{equipId},</if>
            <if test="spareName != null  and spareName != ''">#{spareName},</if>
            <if test="specification != null  and specification != ''">#{specification},</if>
            <if test="techParam != null  and techParam != ''">#{techParam},</if>
            <if test="num != null  and num != ''">#{num},</if>
            <if test="pictureNum != null  and pictureNum != ''">#{pictureNum},</if>
            <if test="productor != null  and productor != ''">#{productor},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDevSpare" parameterType="DevSpare">
        update dev_spare
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipId != null ">equip_id = #{equipId},</if>
            <if test="spareName != null  and spareName != ''">spare_name = #{spareName},</if>
            <if test="specification != null  and specification != ''">specification = #{specification},</if>
            <if test="techParam != null  and techParam != ''">tech_param = #{techParam},</if>
            <if test="num != null  and num != ''">num = #{num},</if>
            <if test="pictureNum != null  and pictureNum != ''">picture_num = #{pictureNum},</if>
            <if test="productor != null  and productor != ''">productor = #{productor},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where spare_id = #{spareId}
    </update>

    <delete id="deleteDevSpareById" parameterType="Long">
        delete from dev_spare where spare_id = #{spareId}
    </delete>

    <delete id="deleteDevSpareByIds" parameterType="String">
        delete from dev_spare where spare_id in 
        <foreach item="spareId" collection="array" open="(" separator="," close=")">
            #{spareId}
        </foreach>
    </delete>
    
</mapper>